navbar{
   height: 5%;
   width: 100%;
   background-color: cornflowerblue;
   padding: 10% 5% 5%;
   
}

a {
    color: #fff;
    margin-right: 10%;
    
   
}
    
a:hover {
    color: #000;
    }